@tailwind base;

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #faf7ec;
}

*::-webkit-scrollbar-thumb {
  background-color: #623521;
  border-radius: 5px;
  border: 3px solid #884b20;
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-navigation-color: #c62210;
  --swiper-pagination-color: #c62210;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
     background-color: #0f0200 !important
}
@font-face {
  font-family: "Spartan";
  src: url('../../public/fonts/LeagueSpartan-VariableFont_wght.ttf');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
